## ============ DB ============= ##
TYPE=_SET_DATA_
HOST=_SET_DATA_
DB_PORT=_SET_DATA_
NAMEUSER=_SET_DATA_
PASSWORD=_SET_DATA_
DATABASE=_SET_DATA_
SSL=_SET_DATA_

## ============ APP ============= ##
JWT_SECRET=_SET_DATA_
URL_FRONTEND=_SET_DATA_

## ============ DATA INICIAL ============= ##
CORREO=_SET_DATA_
CORREO_PASSWORD=_SET_DATA_

## ============ SWAGGER ============= ##
ENABLE_SWAGGER=_SET_DATA_
SWAGGER_URL=_SET_DATA_
SWAGGER_JSON_URL=_SET_DATA_
PORT_NEST=_SET_DATA_